@model Ecommerce.Frontend.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
<h3 class=" text-center text-info mt-3">Catálogo de Productos</h3>

@if (TempData["SuccessMessage"] != null)
{
    <script type="text/javascript">
        Swal.fire({
            toast: true,
            position: 'top-end',
            icon: 'success',
            title: '@TempData["SuccessMessage"]',
            showConfirmButton: false,
            timer: 5000,
            timerProgressBar: true
        });
    </script>
}



<div class="mb-3 mt-2 text-success text-center">
    @foreach (var item in Model.Categorias!)
    {
        <span><strong>@item.Nombre&nbsp;&nbsp;</strong></span>
    }
</div> 


<form method="get" asp-action="Index" id="searchForm">
    <div class="card col-md-3 bg-info p-2">
        <div class="d-flex">
            <input type="text" name="searchName" value="@Model.SearchName" placeholder="Buscar por nombre..." class="form-control me-2" oninput="submitForm()" />
            <button type="submit" class="btn btn-primary"><i class="oi oi-magnifying-glass"></i></button>
        </div>
    </div>
</form>

<hr />

@if (Model.Cantidad > 0)
{
    <a onclick="showInPopup('@Url.Action("VerCarrito", "Home", Context.Request.Scheme)' ,
     '')" class="btn-sm btn-success"><i class=" fas fa-shopping-cart fa-beat"></i> Ver Carro de Compras(@Model.Cantidad) </a>

}


<div class=" row mb-3">
    @if (Model.Productos!.Count() > 0)
    {
        <div class="row">
            @foreach (var producto in Model.Productos!)
            {
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <div class=" card-title text-center">
                            <h5>@producto.Nombre</h5>
                        </div>
                        <div class="card-body">
                            <div class=" zoom">
                                <img class="card-img-top" src="@producto.URLFoto" alt="Imagen del Producto" style="height:150px; max-width:200px;">
                            </div>
                            <p class="card-text">Precio: L. @producto.Precio</p>
                        </div>
                        <div class="card-footer text-center">
                            <a onclick="showInPopup('@Url.Action("Detalles", "Home", new { id = producto.Id }, Context.Request.Scheme)' ,
                            '')" class="btn btn-info btn-sm"><i class="oi oi-info"></i></a>
                            <a asp-action="AddToCart" asp-route-id="@producto.Id" class="btn btn-sm btn-success"><i class="oi oi-cart"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h3>No hay productos con su criterio de búsqueda</h3>
    }
</div>

<partial name="_MostrarModal" />

<div class="card col-md-3 bg-info p-2">
    <nav aria-label="Product pagination">
        <ul class="pagination justify-content-center mb-0">
            @for (int i = 1; i <= Math.Ceiling((double)Model.TotalItems / Model.PageSize); i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-searchName="@Model.SearchName"
                       asp-route-categoryId="@Model.SelectedCategoryId">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>


<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }

    .zoom {
        padding: 5px;
        background-color: transparent;
        transition: transform .2s;
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .zoom:hover {
        -ms-transform: scale(2); /* IE 9 */
        -webkit-transform: scale(2); /* Safari 3-8 */
        transform: scale(2);
    }
</style>

@section Scripts {
    <script src="~/js/showmodal.js"></script>

    <script>
        function submitForm() {
            document.getElementById('searchForm').submit();
        }
    </script>
}

